---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillsColor = "green";
---

<Layout title="About Me">
        <h1>About Me</h1>
        <h2>... and my new Astro site!</h2>

        {skills.length > 0 && 
        <div>
          <h3>My current skills are:</h3>
          <ul>
            {skills.map((skill) => (
              <li class="skills">{skill}</li>
            ))}
          </ul>
      
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
</Layout>
