---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const tituloSite = 'Meu Site Pessoal';
const descricaoSite = 'Esse é o meu site pessoal, onde compartilho meus projetos e ideias.';
---

<Layout>
	<h1>{tituloSite}</h1>
	<p>{descricaoSite}</p>
</Layout>
