---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h1>Welcome to my Astro site!</h1>
    <p>This is the first page on my new website. I am learning how to use Astro, and this is the first page I built myself!</p>
    <p>Check out my <a href="/about/">About Me</a> page to learn more about me.</p>
    <p>Check out my <a href="/blog/">Blog</a> page to see what I'm learning.</p>
</Layout>


