<button id="alert">Click me!</button>

<script>
    const alertButton = document.querySelector('#alert');

    alertButton?.addEventListener('click', () => {
        alert('Button clicked!');
    });
</script>