---
const {platform, username} = Astro.props;
// This component is used to display a link to a social media profile
// It takes two props: plataform and username
--- 

<a href=`https://${platform}.com/${username}`>Enter in my {platform}!</a>